@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }

@layer base {
  html { font-feature-settings: "liga" on; }
  body { background-color: #3E3E3E; } /* серый фон страницы */
  .container { @apply max-w-6xl mx-auto px-4; }
}
